celery
crispy_bootstrap4
Django
django_filter
django-grappelli
django_rest_passwordreset
djangorestframework
django-widget-tweaks
django-crispy-forms
django-recaptcha
djoser
factory-boy
openai
pillow
psycopg2-binary
python-dotenv
pyyaml
requests
ujson