{% extends "base.html" %}

{% block content %}

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- ASIDE -->
					<div id="aside" class="col-md-3">
						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Categories</h3>
							<div class="checkbox-filter">
								{% for category in categories %}
								<div class="input-checkbox">
									<input type="checkbox" id="{{ category.name }}">
									<label for="{{ category.name }}">
										<span></span>
										{{ category.name }}
										<small></small>
									</label>
								</div>
								{% endfor %}
							</div>
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Price</h3>
							<form method="get">
    						{{ price_filter.form }}
    						<input type="submit" />
							</form>
							<div class="price-filter">
								<div id="price-slider"></div>
								<div class="input-number price-min">
									<input id="price-min" type="number">
									<span class="qty-up">+</span>
									<span class="qty-down">-</span>
								</div>
								<span>-</span>
								<div class="input-number price-max">
									<input id="price-max" type="number">
									<span class="qty-up">+</span>
									<span class="qty-down">-</span>
								</div>
							</div>
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Brand</h3>
							<div class="checkbox-filter">
								{% for brand in brands %}
								<div class="input-checkbox">
									<input type="checkbox" id="{{ brand.name }}">
									<label for="{{ brand.name }}">
										<span></span>
										{{ brand.name }}
										<small>(578)</small>
									</label>
								</div>
								{% endfor %}
							</div>
						</div>
						<!-- /aside Widget -->
					</div>

					<!-- STORE -->
					<div id="store" class="col-md-9">
						<!-- store top filter -->
						<div class="store-filter clearfix">
							<form class="store-sort" method="GET">
								<label>
									Sort By:
									<select name="sort_by" class="input-select">
										<option value="price">Price↑</option>
										<option value="-price">Price↓</option>
										<option value="product__name">Name↑</option>
										<option value="-product__name">Name↓</option>
									</select>
								</label>
								<label>
									Show:
									<select name="paginate_by" class="input-select">
										<option value="20">20</option>
										<option value="50">50</option>
										<option value="100">100</option>
									</select>
								</label>
								<button class="primary-btn-ltl">OK</button>
								<label>
								Total products:<b>{{ products|length }}</b>
								</label>
							</form>
						</div>
						<!-- /store top filter -->

						<!-- store products -->
						<div class="row">
							<!-- product -->
							{% for pi in products_info %}
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src={% if pi.product.image %}
											 		{{ pi.product.image.url }}
											     {% else %}
													"/media/products/blank.png"{% endif %} alt="">
									</div>
									<div class="product-body">
										<p class="product-brand">{{ pi.brand.name }}</p>
										<h4 class="product-name"><a href="{% url 'backend:product_info' pi.product_id %}">{{ pi.product.name }}</a></h4>
										<p class="product-category">{{ pi.product.category }}</p>
										<h4 class="product-price">{{ pi.price }} ₽</h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn" onclick="location.href='{% url 'authorization:add_to_cart' pi.product_id %}'"><i class="fa fa-shopping-cart"></i>add to cart</button>
									</div>
								</div>
							</div>
							{% endfor %}
							<!-- /product -->

							<div class="clearfix visible-sm visible-xs"></div>
							<div class="clearfix visible-lg visible-md"></div>
							<div class="clearfix visible-sm visible-xs"></div>
							<div class="clearfix visible-lg visible-md visible-sm visible-xs"></div>
							<div class="clearfix visible-sm visible-xs"></div>
						</div>
						<!-- /store products -->

						 <!--Pagination-->
						<div class="store-filter clearfix">
							<nav aria-label="Page navigation example">
							  <ul class="store-pagination">
								{% if products_info.has_previous %}
								  <li class="page-item">
									<a class="page-link" href="{{ request.get_full_path }}&page={{ products_info.previous_page_number }}">&lt&lt</a>
								  </li>
								{% else %}
								  <li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1" aria-disabled="True">&lt&lt</a>
								  </li>
								{% endif %}
								{% for i in products_info.paginator.page_range %}
								  {% if products_info.number == i %}
									<li class="page-item active" aria-current="page">
									  <span class="page-link">
										{{ i }}
										<span class="sr-only">(current)</span>
									  </span>
									</li>
								  {% else %}
									<li class="page-item"><a class="page-link" href="{{ request.get_full_path }}&page={{ i }}">{{ i }}</a></li>
								  {% endif %}
								{% endfor %}
								{% if products_info.has_next %}
								  <li class="page-item">
									<a class="page-link" href="{{ request.get_full_path }}&page={{ products_info.next_page_number }}">&gt&gt</a>
								  </li>
								{% else %}
								  <li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1" aria-disabled="True">&gt&gt</a>
								  </li>
								{% endif %}
							  </ul>
							</nav>
						</div>
							<!--end of Pagination-->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

{% endblock %}